<!-- templates/about/author.html -->
{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.<br> 
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.<br> 
  <br> 
  Опыт работы юристом составляет 13 лет (с 2009 по 2022г)<br> 
На всех местах работы я разрабатывал и создавал базы данных групп компаний<br> 
с полной информацией по структуре юридических лиц.<br> 
Это позволяло оперативно получить информацию о юридических лицах,<br> 
которые входят в определенную группу компаний для подготовки списков<br> 
аффилированных лиц и зависимых сторон.<br> 
<br> 
Переводил работу компаний на Электронный документооборот между<br> 
юридическими лицами и государственными органами.<br> 
<br> 
Всегда хотелось оптимизировать процессы, с которыми я работал.<br> 
Познакомившись с Phyton и SQL я понял, что можно не только писать запросы, а создавать любой продукт.<br> 
Больше жизнь не будет прежней.<br> 
<br> 
Планирую пройти обучение по курсам:<br> 
Курс английского для разработчиков<br> 
andriod - разработчик<br> 
Фротненд-разработчик<br> 
Специалист по Data Sciece<br> 
Инженер по тестированию приложений на Python<br> 
__________________________<br> 
<br> 
- активная жизненная позиция,<br> 
стремление в достижении поставленных целей‚<br> 
стремление к повышению своего профессионального уровня,<br> 
энергичность‚<br> 
ответственность‚<br> 
аккуратность‚<br> 
стрессоустойчивость;<br> 
<br> 
- опыт руководства коллективом,<br> 
умение работать в команде;<br> 
<br> 
- легко и с удовольствием обучаюсь, как самостоятельно, так и через посещение курсов лично или же онлайн<br> 
<br> 
- организаторские способности;<br> 
__________________________<br> 
<br> 
Хобби: автоспорт; сноуборд/горные лыжи, бег, собаки<br> 
</p>
{% endblock %} 